---
import "../../amplifyClient";
import AuthLayout from "../../layouts/AuthLayout.astro";
---

<AuthLayout title="Sign In">
  <h1 class="mb-6 font-bold text-3xl text-center">Sign In</h1>
</AuthLayout>
